body{
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&family=Roboto+Mono:wght@700&display=swap');
.Menu{

  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-content{
    width: 100%;
    display: flex;
   
}
.menu-left{
    height: 60px;
    flex: 2;
    display: flex;
}
.brand{
    display: flex;
}
.brand .brand-name{
    font-family: 'Roboto Mono', monospace;
    line-height: 60px;
    font-size: 35px;
    font-weight: 800;
    background: -webkit-linear-gradient(#00a672, #007551);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #00a672;
    background-color:#007551; */
}
.menu-left .brand img{
width: 60px;
height: 60px;
}
.icon-menu{
    cursor: pointer;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 10px;
    background-color: rgb(230, 222, 222);
    text-align: center;
    transition: all 0.25s;
display: none;
}
.icon-menu:hover{
    background-color: #00a672;
}
.menu-search{
    height: 60px;
    flex: 5;
    display: flex;
    justify-content: center;
}
.icon-search{
    position: absolute;
top: 5%;
    left: 2%;
}
.menu-search .input-search{
position: relative;
text-align: center;
line-height: 60px;
}
.input-search .search{
    padding: 7px;
    padding-left: 40px;
    outline: none;
    font-size: 15px;
    width: 400px;
    height: 30px;
    border-radius: 6px;
    border: none;
    background-color: rgb(235, 230, 230);
}
.search:focus{
    background-color: white;
    box-shadow: rgb(133, 122, 122) 1px 1px 7px 0px;
}
.menu-right{
    flex: 2;
    height: 60px;

    text-align: center;
    display: flex;
    justify-content: center;
}
.menu-right .user-infor .avatar img{
    width: 40px;
    height: 40px;
    object-fit:cover;
    border-radius: 100%;
    border: 1px solid rgb(179, 170, 170);
}
.user-infor{
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    width: 80%;
    display: flex;
    position: relative;
    margin-left: auto;

}
.login{
    color: #00a672;
    margin-left: auto;
    line-height: 60px;
}
.login a{
    color: #00a672;
    text-decoration: none;
}
.login a:hover{
    color: #22e0a7;
}
.user-infor .log-out{
    position: absolute;
    left: 80%;
    line-height: 60px;
}
.log-out a{
    font-size: 24px;
color: black;
}
.log-out a:hover{
    color: #007551;
    cursor: pointer;
}
.user-name{
    width: 150px;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin:10px;
}
.status{
    margin-top: 5px;
    font-size: 14px;
    color: rgb(69, 214, 69);
}
.user-infor .avatar{
    margin: auto 0;
}
.category{
    box-shadow:rgb(145, 142, 142)  0px 10px 10px 0px;
    height: 50px;
    display: flex;
    justify-content: center;
}
.category ul li {
    list-style: none;
width: 100px;
    text-align: center;
}
.category a{
    text-decoration: none;
color: black;
}
.category a:hover{
    color: #007551;
}
.category ul{
    font-family: 'Roboto Mono', monospace;
    display: flex;
}
.category ul li:hover{
    color: #00a672;
    cursor: pointer;
}
.sugest{
    position: absolute;
    z-index: 99;
    width: 100%;
    left: 0%;
    background-color: rgba(255, 254, 254, 0.952);
    font-family: 'Roboto Mono', monospace;
    top: 90%;
}
.icon-sugest{
    float: left;
    margin-left: 20px;
}
.sugest .sugest-item{
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 80%;
}
.link-sugest{
    display: flex;
    text-decoration: none;
    color: #00a672;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.link-sugest:hover{
    color: rgb(126, 178, 226);
}
.footer{
    background-color: red;
    margin-top: 20px;
}
.alert-success{
  border: 1px solid black;
  border-left: none;
    position: absolute;
    top: 16%;
    line-height: 70px;
    width: 230px;
    text-align: center;
    height: 70px;
    color: black;
}
.alert-success i{
    color: rgb(235, 75, 75);
}
i.success{
    color: rgb(43, 223, 43);
}